<ion-header [translucent]="true">
  <ion-toolbar class="hd">
    <ion-title>
      GALLERY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="body">
  <img src="assets/pictures/img1.JPG">
  <img src="assets/pictures/img2.jpg">
  <img src="assets/pictures/img3.jpg">
  <img src="assets/pictures/img4.jpg">
  <img src="assets/pictures/img5.jpg">
  <img src="assets/pictures/img6.jpg">
  <img src="assets/pictures/img7.jpg">
  <img src="assets/pictures/img8.jpg">
  <img src="assets/pictures/img9.jpg">
  <img src="assets/pictures/img10.jpg">
  <img src="assets/pictures/img11.jpg">
  <img src="assets/pictures/img12.jpg">
  <img src="assets/pictures/img13.jpg">
  <img src="assets/pictures/img14.jpg">
  <img src="assets/pictures/img15.jpg">
  <img src="assets/pictures/img16.jpg">
  <img src="assets/pictures/img17.jpg">
  <img src="assets/pictures/img18.jpg">
</ion-content>

