<ion-header [translucent]="true">
  <ion-toolbar class="hd"> 
    <ion-title>PROFILE</ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content [fullscreen]="true" class="body">
  <center>
    <ion-toolbar class="body">
      <img src="assets/pictures/img6.jpg">
    </ion-toolbar>
    <b class="name">HANNAH MARIE DEMAIN ACEBO</b>
  </center>
  <center>
    <table border="4">
      <tr>
        <td>
          <p>
            <b class="name">Personal Information</b>
          </p>
      </tr>
      <tr>
        <td>
          <b>Fullname: </b>Hannah Marie Demain Acebo<br>
          <b>Nickname/s: </b>Han/Hannah<br>
          <b>Address:</b> Brgy. Calingcaguing Barugo, Leyte <br>
          <b>Sex: </b>Female <br>
          <b>Birthday: </b>March 19,2001<br>
          <b>Age: </b>21<br>
          <b>Religion:</b>Roman Catholic<br>
          <b>Relationship:</b> In a Relationship
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <b class="name">Educational Information</b>
          </p>
      </tr>
      <tr>
        <td>
          <b>Studying at: </b>Eastern Visayas State University (EVSU-CC)<br>
          <b>Course: </b>Bachelor of Science Information Technology (BSIT)<br>
          <b>Section:</b> 3A <br>
        </td>
      </tr>
    </table>
  </center>

</ion-content>
