.hd{
	--background: black;
	font-family: 'Times New Roman', Times, serif;
    color: yellow;
}
ion-textarea{
    background-color: aqua;
    margin: 10px 0 10px 0;
    height:100px;
    color: black;
   }
   ion-button{
       float: right;
       margin: 4px;

   }